{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Medi-Share | Share Medicine, Share Hope{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

    // navbar
    <header class="main-header">
        <nav class="nav-container">
            <div class="logo">
                <img src="{% static 'images/logo.png'%}" alt="logo" srcset="">
                <span class="logo-text">Medi-Share</span>
            </div>
            <ul class="nav-menu">
                <li><a href="/" class="active">Home</a></li>
                <li><a href="#how-it-works">How It Works</a></li>
                <li><a href="/find-medicine/">Find Medicine</a></li>
                <li><a href="/donate/">Donate Medicine</a></li>
                <li><a href="#about">About Us</a></li>
                <li><a href="#contact">Contact</a></li>
            </ul>

            <div class="nav-auth">
                <a href="/login/" class="btn-login">Login</a>
                <a href="/signup/" class="btn-signup">Sign Up</a>
            </div>
        </nav>
    </header>

    // main content
    <div class="main-wrapper">
        {%block content%}
        {%endblock%}
    </div>

    // footer
    <div class="footer-links">
                <h4>For Users</h4>
                <ul>
                    <li><a href="#">Donor Guide</a></li>
                    <li><a href="#">Seeker Guide</a></li>
                    <li><a href="#">Palliative Units</a></li>
                    <li><a href="#">Privacy Policy</a></li>
                </ul>
            </div>

            <div class="footer-contact">
                <h4>Contact Us</h4>
                <p>📞 +91 98765 43210</p>
                <p>📧 info@medi-share.org</p>
                <p>📍 Kozhikode, Kerala, India</p>
            </div>
        </div>
        <div class="footer-bottom">
            <p>&copy; 2026 Medi-Share. All Rights Reserved.</p>
        </div>
    </footer>
    
</body>
</html>