{%load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{%block title%}Medi-Share | Share Medicine, Share Hope{%endblock%}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
</head>
<body>

     <!-- navbar -->
    <header>
        <nav class="navbar">
            <a href="#" class="brand-wrap">
                <div class="brand-logo">
                    <img src="{% static 'images/logo.png' %}" alt="Medi-Share Logo">
                </div>
                <div class="brand-text">
                    <span class="brand-name">Medi<span>-Share</span></span>
                    <span class="brand-tagline">Share Medicine, Share Hope</span>
                </div>
            </a>
        </nav>
    </header>

    
     <!-- footer -->
    
</body>
</html>